@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn {
  background: transparent;
  border: transparent;
  padding: 0.7rem 1rem;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn.main_btn {
  background: linear-gradient(315deg, #5d425775 0%, #a5c7b7d7 74%);
  color: white;
}

.btn.not_main_btn {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.9rem 1rem;
  font-size: 1rem;
  background-color: #ffffff;
}
.navBar .ham_buger_icon {
  font-size: 1.2rem;
  cursor: pointer;
  color: #9e9ea7;
}
.navBar .navlinks {
  position: fixed;
  z-index: 70;
  top: 8%;
  left: 0;
  height: 100%;
  background-color: #ffffff;
  width: 100%;
  list-style-type: none;
  padding: 1rem 1.3rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.navBar .navlinks.show {
  opacity: 1;
  visibility: visible;
}
.navBar .navlinks .userIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8% 0;
  margin-bottom: 9%;
}
.navBar .navlinks .userIcon img {
  width: 30%;
  border-radius: 50%;
}
.navBar .navlinks .userIcon p {
  width: 70%;
  text-align: center;
}
.navBar .navlinks a {
  color: #6e6d7a;
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.5rem 0;
  display: inline-block;
}

@media screen and (min-width: 920px) {
  .navBar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .navBar .navlinks {
    position: revert;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0 1rem;
    width: 60%;
    opacity: 1;
    visibility: visible;
  }
  .navBar .navlinks ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    list-style-type: none;
    font-size: 1rem;
    margin-right: 5%;
  }
  .navBar .navlinks .userIcon {
    width: 7%;
    margin: revert;
  }
  .navBar .navlinks .userIcon img {
    width: 100%;
    border-radius: 50%;
  }
  .navBar .navlinks .userIcon p {
    display: none;
    width: 0;
  }
  .navBar .ham_buger_icon {
    display: none;
  }
  .navBar .logo {
    width: 20%;
  }
}
.card_container {
  width: 90%;
  margin: 4% auto;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
.card_container .card__info_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.6rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.card_container .card {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.12);
  position: relative;
}
.card_container .card .card__image {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
}
.card_container .card .card__moreInfo {
  position: absolute;
  z-index: 104;
  bottom: 0;
  width: 100%;
  height: 30%;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.342)), to(rgba(0, 0, 0, 0.692)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.692));
}
.card_container .card .card__moreInfo > div {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card_container .card .card__moreInfo i {
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0.8rem;
  color: #7c7a7a;
  border-radius: 10px;
  cursor: pointer;
}
.card_container .card__name {
  padding: 0.4rem 0;
  text-align: center;
}

@media screen and (min-width: 616px) {
  .card_container {
    margin: revert;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .card_list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 946px) {
  .card_list {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1334px) {
  .card_list {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    max-width: 1299px;
    margin: 0 auto;
  }
}
.small_text {
  font-size: 0.8rem;
  opacity: 0.4;
}

.floating_modal_container {
  background-color: white;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  padding: 1rem;
  position: relative;
}
.floating_modal_container .floating_modal_containe__close_icon {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 1.5rem;
}
.floating_modal_container p.floating_modal_container__title {
  padding: 0.3rem 0;
  border-bottom: 0.5px solid rgba(58, 56, 56, 0.2);
}
.floating_modal_container .add_collection_container__list_existing_collection {
  height: 320px;
  overflow: scroll;
  scrollbar-width: none;
}
.floating_modal_container .add_collection_container__list_existing_collection .add_collection_container__existing_collection_box {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 0.5rem;
  margin: 10px 0;
  cursor: pointer;
  height: 100px;
}
.floating_modal_container .add_collection_container__list_existing_collection .add_collection_container__existing_collection_box > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
}
.floating_modal_container .add_collection_container__list_existing_collection .add_collection_container__existing_collection_box:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.floating_modal_container .add_collection_container__list_existing_collection .add_collection_container__existing_collection_box.selected {
  background: linear-gradient(315deg, #5d425775 0%, #a5c7b7d7 74%);
}
.floating_modal_container .add_collection_container__list_existing_collection .add_collection_container__existing_collection_box .existing_collection_box__image {
  width: 30%;
}
.floating_modal_container .add_collection_container__list_existing_collection .add_collection_container__existing_collection_box .existing_collection_box__image img {
  width: 100%;
  height: 85px;
  -o-object-fit: contain;
     object-fit: contain;
}
.floating_modal_container .add_collection_container__list_existing_collection .add_collection_container__existing_collection_box .existing_collection_box__more_info {
  width: 66%;
  line-height: 1.5rem;
}
.floating_modal_container .add_collection_container__list_existing_collection .add_collection_container__existing_collection_box .existing_collection_box__more_info h2 {
  font-size: 1rem;
}
.floating_modal_container .add_collection_container__list_existing_collection .add_collection_container__existing_collection_box .existing_collection_box__more_info .existing_collection_box__num_of_shots {
  font-size: 0.8rem;
  opacity: 0.8;
}
.floating_modal_container .button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0.8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.floating_modal_background#add_collection_background {
  display: none;
}

.floating_modal_background#create_collection_background {
  display: none;
}

.floating_modal_background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 200;
}

@media screen and (min-width: 801px) {
  .floating_modal_background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .floating_modal_background#add_collection_background {
    display: none;
  }

  .floating_modal_container {
    width: 80%;
    max-width: 600px;
  }
}
.input_field {
  margin: 0.8rem 0;
  background-color: #f3f3f4;
  padding: 0.3rem;
  border-radius: 5px;
  width: 100%;
  outline: none;
  padding: 0.8rem;
  border: transparent;
  background: rgba(148, 141, 141, 0.1);
  -webkit-transition: background-color 0.5s ease-in-out, -webkit-box-shadow;
  transition: background-color 0.5s ease-in-out, -webkit-box-shadow;
  transition: box-shadow, background-color 0.5s ease-in-out;
  transition: box-shadow, background-color 0.5s ease-in-out, -webkit-box-shadow;
}
.input_field::-webkit-input-placeholder {
  font-size: 1rem;
  opacity: 0.2;
}
.input_field::-moz-placeholder {
  font-size: 1rem;
  opacity: 0.2;
}
.input_field:-ms-input-placeholder {
  font-size: 1rem;
  opacity: 0.2;
}
.input_field::-ms-input-placeholder {
  font-size: 1rem;
  opacity: 0.2;
}
.input_field::placeholder {
  font-size: 1rem;
  opacity: 0.2;
}
.input_field:focus {
  -webkit-box-shadow: 2px 2px 14px -6px rgba(155, 180, 160, 0.75);
          box-shadow: 2px 2px 14px -6px rgba(155, 180, 160, 0.75);
  background-color: white;
}

.card_detail_container {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  overflow-y: scroll;
  scrollbar-width: none;
  display: none;
}
.card_detail_container > div {
  max-width: 900px;
  margin: 0 auto;
}
.card_detail_container .card_detail_container__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0.9rem;
}
.card_detail_container .card_detail_container__nav .card_detail__heading_title {
  font-size: 1.6rem;
  font-weight: 400;
}
.card_detail_container .card_detail_container__nav .card_detail_close_icon {
  font-size: 1.5rem;
  cursor: pointer;
}
.card_detail_container .card_detail_sub_nav {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.card_detail_container .card_detail_add_btn {
  border: 1px solid rgba(17, 17, 17, 0.103);
  padding: 0.4rem;
  font-size: 1.5rem;
  border-radius: 5px;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  cursor: pointer;
  display: inline;
}
.card_detail_container .card_detail__main_pic {
  width: 100%;
}
.card_detail_container .card_detail__main_pic img {
  width: 100%;
}
.card_detail_container .card_detail__list_of_related_pics {
  width: 100%;
  padding-left: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2%;
}
.card_detail_container .card_detail__list_of_related_pics img {
  width: 20%;
  display: block;
  padding: 0.3rem;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .card_detail_container .card_detail__list_of_related_pics img {
    width: 10%;
  }
}
.profileNavLink {
  padding: 2rem 0.9rem;
}
.profileNavLink .profileNavLink__image_container {
  width: 90px;
}
.profileNavLink .profileNavLink__image_container img {
  border-radius: 50%;
  width: 100%;
}
.profileNavLink .profileNavLink__content h2, .profileNavLink .profileNavLink__content p {
  padding: 0.6rem 0;
}

@media screen and (min-width: 768px) {
  .profileNavLink {
    max-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .profileNavLink .profileNavLink__image_container {
    width: 200px;
  }
  .profileNavLink .profileNavLink__content {
    width: 60%;
  }
}
.collection_card_links_list .collection_card_link_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-rows: repeat(4, 1fr);
  width: 90%;
  border: 1px solid red;
      grid-template-areas: "main_image main_image main_image" "main_image main_image main_image" "main_image main_image main_image" "main_image main_image main_image" "main_image1 main_image2 main_image3" "collection_card_link_container__extra_content collection_card_link_container__extra_content collection_card_link_container__extra_content";
  gap: 10px;
  margin: 0 auto;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  min-height: 300px;
}
.collection_card_links_list .collection_card_link_container:hover {
  opacity: 0.8;
  cursor: pointer;
}
.collection_card_links_list .collection_card_link_container img {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.1);
  outline: none;
}
.collection_card_links_list .collection_card_link_container .collection_card_link_container__extra_content {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: collection_card_link_container__extra_content;
  text-align: center;
}
.collection_card_links_list .collection_card_link_container .collection_card_link__main_image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: main_image;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.collection_card_links_list .collection_card_link_container .collection_card_link__not_main_image1 {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: main_image1;
  border-bottom-left-radius: 10px;
}
.collection_card_links_list .collection_card_link_container .collection_card_link__not_main_image2 {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
  grid-area: main_image2;
}
.collection_card_links_list .collection_card_link_container .collection_card_link__not_main_image3 {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
  grid-area: main_image3;
  border-bottom-right-radius: 10px;
}

.hero_container {
  background: linear-gradient(315deg, #5d425775 0%, #a5c7b7d7 74%), url("../images/searchBackground.jpg") no-repeat center/cover;
  text-align: center;
}
.hero_container .hero_container_content {
  color: #ffffff;
  padding: 1rem;
}
.hero_container .hero_container_content h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

.search_box_container {
  width: 90%;
  border-radius: 10px;
  margin: 0 auto;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-box-shadow: -1px 10px 49px -13px rgba(0, 0, 0, 0.51);
          box-shadow: -1px 10px 49px -13px rgba(0, 0, 0, 0.51);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0.8rem;
}
.search_box_container .search_box_containe__sesrch_icon {
  color: #9e9ea7;
  opacity: 0.6;
  padding: 0 0.4rem;
}
.search_box_container .divder {
  background-color: #9e9ea7;
  opacity: 0.3;
  width: 2px;
  height: 38px;
}
.search_box_container form {
  width: 60%;
}
.search_box_container form input {
  border: transparent;
  padding: 0.8rem 0.8rem;
  width: 100%;
}
.search_box_container form input::-webkit-input-placeholder {
  opacity: 0.2;
  padding: 0 0.4rem;
  font-size: 1rem;
}
.search_box_container form input::-moz-placeholder {
  opacity: 0.2;
  padding: 0 0.4rem;
  font-size: 1rem;
}
.search_box_container form input:-ms-input-placeholder {
  opacity: 0.2;
  padding: 0 0.4rem;
  font-size: 1rem;
}
.search_box_container form input::-ms-input-placeholder {
  opacity: 0.2;
  padding: 0 0.4rem;
  font-size: 1rem;
}
.search_box_container form input::placeholder {
  opacity: 0.2;
  padding: 0 0.4rem;
  font-size: 1rem;
}
.search_box_container .search_box_container__select_box {
  width: 40%;
  position: relative;
}
.search_box_container .search_box_container__select_box select {
  cursor: pointer;
  padding: 0.8rem 0.7rem;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: transparent;
  font-weight: 500;
}
.search_box_container .search_box_container__select_box .search_box_container__drop_down {
  position: absolute;
  top: 30%;
  right: 13%;
  pointer-events: none;
}

@media screen and (min-width: 800px) {
  .hero_container {
    height: 50vh;
  }
  .hero_container .hero_container_content {
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 50%;
  }
  .hero_container .hero_container_content h1 {
    font-size: 3rem;
  }
  .hero_container .hero_container_content p {
    font-size: 1.3rem;
  }

  .search_box_container {
    max-width: 500px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .search_box_container form {
    width: 80%;
  }
  .search_box_container form input {
    outline: none;
  }
  .search_box_container .search_box_container__select_box {
    width: 20%;
  }
  .search_box_container .search_box_container__select_box select {
    outline: none;
  }
}