@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.9rem 1rem;
  font-size: 1rem;
  background-color: #ffffff;
}
.navBar .ham_buger_icon {
  font-size: 1.2rem;
  cursor: pointer;
  color: #9e9ea7;
}
.navBar .navlinks {
  position: fixed;
  z-index: 70;
  top: 8%;
  left: 0;
  height: 100%;
  background-color: #ffffff;
  width: 100%;
  list-style-type: none;
  padding: 1rem 1.3rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.navBar .navlinks.show {
  opacity: 1;
  visibility: visible;
}
.navBar .navlinks .userIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8% 0;
  margin-bottom: 9%;
}
.navBar .navlinks .userIcon img {
  width: 30%;
  border-radius: 50%;
}
.navBar .navlinks .userIcon p {
  width: 70%;
  text-align: center;
}
.navBar .navlinks a {
  color: #6e6d7a;
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.5rem 0;
  display: inline-block;
}

@media screen and (min-width: 920px) {
  .navBar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .navBar .navlinks {
    position: revert;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0 1rem;
    width: 60%;
    opacity: 1;
    visibility: visible;
  }
  .navBar .navlinks ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    list-style-type: none;
    font-size: 1rem;
    margin-right: 5%;
  }
  .navBar .navlinks .userIcon {
    width: 7%;
    margin: revert;
  }
  .navBar .navlinks .userIcon img {
    width: 100%;
    border-radius: 50%;
  }
  .navBar .navlinks .userIcon p {
    display: none;
    width: 0;
  }
  .navBar .ham_buger_icon {
    display: none;
  }
  .navBar .logo {
    width: 20%;
  }
}
.hero_container {
  background: linear-gradient(315deg, #5d425775 0%, #a5c7b7d7 74%), url("../images/searchBackground.jpg") no-repeat center/cover;
  text-align: center;
}
.hero_container .hero_container_content {
  color: #ffffff;
  padding: 1rem;
}
.hero_container .hero_container_content h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

.search_box_container {
  width: 90%;
  border-radius: 10px;
  margin: 0 auto;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-box-shadow: -1px 10px 49px -13px rgba(0, 0, 0, 0.51);
          box-shadow: -1px 10px 49px -13px rgba(0, 0, 0, 0.51);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0.8rem;
}
.search_box_container .search_box_containe__sesrch_icon {
  color: #9e9ea7;
  opacity: 0.6;
  padding: 0 0.4rem;
}
.search_box_container .divder {
  background-color: #9e9ea7;
  opacity: 0.3;
  width: 2px;
  height: 38px;
}
.search_box_container form {
  width: 60%;
}
.search_box_container form input {
  border: transparent;
  padding: 0.8rem 0.8rem;
  width: 100%;
}
.search_box_container form input::-webkit-input-placeholder {
  opacity: 0.2;
  padding: 0 0.4rem;
  font-size: 1rem;
}
.search_box_container form input::-moz-placeholder {
  opacity: 0.2;
  padding: 0 0.4rem;
  font-size: 1rem;
}
.search_box_container form input:-ms-input-placeholder {
  opacity: 0.2;
  padding: 0 0.4rem;
  font-size: 1rem;
}
.search_box_container form input::-ms-input-placeholder {
  opacity: 0.2;
  padding: 0 0.4rem;
  font-size: 1rem;
}
.search_box_container form input::placeholder {
  opacity: 0.2;
  padding: 0 0.4rem;
  font-size: 1rem;
}
.search_box_container .search_box_container__select_box {
  width: 40%;
  position: relative;
}
.search_box_container .search_box_container__select_box select {
  cursor: pointer;
  padding: 0.8rem 0.7rem;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: transparent;
  font-weight: 500;
}
.search_box_container .search_box_container__select_box .search_box_container__drop_down {
  position: absolute;
  top: 30%;
  right: 13%;
  pointer-events: none;
}

@media screen and (min-width: 800px) {
  .hero_container {
    height: 50vh;
  }
  .hero_container .hero_container_content {
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 50%;
  }
  .hero_container .hero_container_content h1 {
    font-size: 3rem;
  }
  .hero_container .hero_container_content p {
    font-size: 1.3rem;
  }

  .search_box_container {
    max-width: 500px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .search_box_container form {
    width: 80%;
  }
  .search_box_container .search_box_container__select_box {
    width: 20%;
  }
}