
.btn{
    background: transparent;
    border: transparent;
    padding: .7rem 1rem;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}   

.btn.main_btn{
    background: $HeroGradient;
    color: white;

}
.btn.not_main_btn{
        border: 1px solid rgba(0, 0, 0,.2);
}