

.card_container{
//   border: 1px solid green;
  width: 90%;   
  margin: 4% auto;
min-height: 300px;
display: flex;
flex-direction: column;

cursor: pointer;
.card__info_area{
    display: flex;
    // background-color: red;
    padding: .6rem 0;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
}

  .card{
    // border:1px solid violet;
    overflow: hidden;
    flex-grow: 1;
    border-radius: 10px;
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.12);
    position: relative;

 
    .card__image{
        display: block;
        width: 100%;
        height: 100%;
        transform: scale(1.1);
        z-index: 1;
    }

    .card__moreInfo{
        position: absolute;
        // border: 1px solid red;
        z-index: 104;
        bottom: 0;
        width: 100%;
        height: 30%;
        cursor: default;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(
        to bottom,    
        rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.342),
            rgba(0, 0, 0, 0.692)
        );
        & >div{
            width: 40%;
            display: flex;
            justify-content: space-between;
        }
        & i{
            font-size: 1rem;
            background-color: rgba(255,255,255,0.85);
            padding: .8rem;
            color: rgb(124, 122, 122);
            border-radius: 10px;
            cursor: pointer;
        }
    }
  }

  .card__name{
    // border: 1px solid yellow;
    padding: .4rem 0;
    text-align: center;
    
    }
}

.card_list{
    // border: 1px solid yellow;
}


@media screen and (min-width:616px) {
    .card_container{
        margin: revert;
        align-self: center;
        justify-self: center;


    }

    .card_list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        // border: 1px solid red;
    }
}

@media screen and (min-width:946px) {
    .card_list{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (min-width:1334px) {
    .card_list{
        grid-template-columns: repeat(4,1fr);
        max-width: 1299px;
        margin: 0 auto;
    }

}