.edit_profile_container{
    // border: 1px solid red;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 .8rem;


    form{
        width: 100%;
        padding: 1rem 0;
        max-width: 500px;
        // height: 100%;
        // border: 1px solid green;

    }
}