
@mixin inputFocusEffects {
    &:focus{
        // border: 1px solid ;
        box-shadow: 2px 2px 14px -6px rgba(155,180,160,0.75);
        background-color: white;
    }
}

.input_field{
    // border: 1px solid red;
    margin: .8rem 0;
    background-color: #f3f3f4;
    padding: .3rem;
    border-radius: 5px;

        width: 100%;
        outline: none;
        padding: .8rem;
        border: transparent;
        background: rgba(148, 141, 141, 0.1);

        transition: box-shadow ,background-color .5s ease-in-out;
        &::placeholder{
            font-size: 1rem;
            opacity: .2;
        }


    @include inputFocusEffects;
}