


.small_search_field{
    // border: 1px solid red;
    margin: .7rem 0;
    background-color: #f3f3f4;
    padding: .3rem;
    border-radius: 5px;

    input{
        width: 100%;
        outline: none;
        padding: .8rem;
        border: transparent;
        background: transparent;

        &::placeholder{
            font-size: 1rem;
            opacity: .2;
        }
    }

    
}