



// background-color: #0093E9;
// background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);


$gradientBlue: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
$grayColor:#9e9ea7;
$whiteText:#ffffff;
$grayBlack:#6e6d7a;