



// background-color: #0093E9;
// background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
// background-color: #5d4257;
// background-image: linear-gradient(315deg, #5d4257 0%, #a5c7b7 74%);

// $gradientBlue: linear-gradient(160deg, #0094e9d3 0%, #80d0c7a6 100%);
$gradientBlue: linear-gradient(315deg, #5d4257 0%, #a5c7b7 74%);
$HeroGradient:linear-gradient(315deg, #5d425775 0%, #a5c7b7d7 74%);
$grayColor:#9e9ea7;
$whiteText:#ffffff;
$grayBlack:#6e6d7a;