


.collection_card_links_list{


    .collection_card_link_container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 90%;
        // border: 1px solid red;
        grid-template-areas: 
            "main_image main_image main_image"
            "main_image1 main_image2 main_image3"
            "collection_card_link_container__extra_content collection_card_link_container__extra_content collection_card_link_container__extra_content"
        ;
        gap: 10px;

        margin: 0 auto;
        transition: opacity .2s ease-in-out;
        min-height: 400px;

    
        &:hover{
            opacity: .8;
            cursor: pointer;
        }
        img{
            width: 100%;
            height: 100%;
            background-color: rgba(128, 128, 128, 0.1);
            outline: none;
        }

        .collection_card_link_container__extra_content{
            grid-area: collection_card_link_container__extra_content;
            // border: 1px solid red;
            text-align: center;

        }
        .collection_card_link__main_image{
            grid-area: main_image;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }


        
        .collection_card_link__not_main_image1{
            grid-area: main_image1;
            border-bottom-left-radius: 10px;

        }


        
        .collection_card_link__not_main_image2{
            grid-area: main_image2;
        }


        
        .collection_card_link__not_main_image3{
            grid-area: main_image3;
            border-bottom-right-radius: 10px;


        }

        
    }
}