.signInSignUp_main_container{
    width: 100vw;
    height: 100vh;


}

.signInSignUp__detail_page{
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
    padding: 1rem;
    padding-top: 5rem;
}